<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ page.base_url }}" class="navbar-brand">RP API Docs</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "instructors" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}instructors">Instructors</a>
        </li>
        <li{% if page.slug == "accounts" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}accounts">Accounts</a>
        </li>
        <li{% if page.slug == "programs" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}programs">Programs</a>
        </li>
        <li{% if page.slug == "testimonials" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}testimonials">Testimonials</a>
        </li>
        <li{% if page.slug == "private" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}private">Private</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
